@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: 'Outfit', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

.hero-heading {
  @apply text-3xl sm:text-5xl tracking-widest;
}

.hero-subheading {
  @apply text-lg sm:text-2xl tracking-widest;
}

.sectionHeading {
  @apply w-full pb-8 text-xl sm:text-2xl text-center tracking-widest underline underline-offset-10 decoration-1 decoration-dotted;
}

h3 {
  @apply text-xl sm:text-2xl tracking-widest;
}

p,
span {
  @apply tracking-widest;
}

.attribution {
  @apply max-w-1/2 text-sm text-right text-sky-950;
}

.description {
  @apply text-sm sm:text-base;
}

.bio {
  @apply text-base sm:text-xl;
}

a {
  @apply tracking-widest hover:text-white  transition duration-100;
}

header a {
  @apply text-2xl;
}

.btn {
  @apply p-2 border-1 border-sky-800 rounded-xl hover:bg-sky-900 text-sm sm:text-lg text-center text-sky-800 hover:text-white;
}
