@import 'tailwindcss';

/* Theme */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: 'Outfit', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* HTML + body */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

/* Headings + text */

h1,
h2,
h3,
h4,
p,
span,
a {
  @apply tracking-widest;
}

h1 {
  @apply text-3xl sm:text-5xl;
}

h2,
h3 {
  @apply text-xl sm:text-2xl;
}

h2 {
  @apply pb-10 text-center underline underline-offset-10 decoration-1 decoration-dotted;
}

h3,
h4 {
  @apply font-medium;
}

h4 {
  @apply text-lg sm:text-xl;
}

/* Links */

a {
  @apply transition duration-125;
}

.btn {
  @apply p-2 border sm:border-3 sm:text-lg sm:font-medium text-center;
}

/* Forms */

form {
  @apply flex flex-col space-y-4 md:w-1/2 sm:border-2 rounded-sm sm:p-12 sm:bg-slate-200 text-lg sm:text-xl tracking-widest;
}

form label {
  @apply text-white sm:text-[var(--foreground)];
}

form input,
form textarea {
  @apply border-1 sm:border-2 rounded-sm focus:outline-none p-3 bg-white;
}

form button {
  @apply p-2 border sm:border-2 rounded-sm hover:border-gray-900 bg-white hover:bg-gray-900 sm:text-xl hover:text-white cursor-pointer;
}
